{% extends 'base.html' %}

{% block title %}404 not found | ytdc{% endblock %}

{% block content %}

<div class="container" id="container-404">
  <div class="row">
    <div class="col">
      <h1>
        404 not found
      </h1>      
    </div>
  </div>

  <div class="row" id="error-details">
    <div class="col-7">
      <br>
      <h4>
        hmm, it looks like the page you requested doesn't exist?
        <br>
        <br>
        check out some other things instead!
      </h4>
      <div class="row">
        <div class="col">
          <h2>
            <a href="../channels.html">
              channels
            </a>
          </h2>
        </div>
        <div class="col">
          <h2>
            <a href="../videos.html">
              videos
            </a>
          </h2>
        </div>
        <div class="col">
          <h2>
            <a href="../tags.html">
              tags
            </a>
          </h2>
        </div>
        <div class="col">
          <h2>
            <a href="../categories.html">
              categories
            </a>
          </h2>
        </div>
      </div>
    </div>
    <div class="col-5 scalable-image">
      <img alt="A gif of a color-changing tree" src="https://media.giphy.com/media/3ov9k0kiuiL4L8LUTC/giphy.gif">
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}


{% endblock %}

<!-- Other ideas:
https://codepen.io/sqfreakz/pen/GJRJOY
https://codepen.io/SkyHyzer/pen/XjkBPE
 -->