{% extends 'base.html' %}

{% block title %}about | ytdc{% endblock %}

{% block content %}
<div class="container">
  <div class="row lead">
    <div id="about-block">

      <h1 id="about-title">
        about ytdc
      </h1>

      <div id="db-statistics">
        <div id="big-numbers">
          <h3>
            <strong>{{ '{:,}'.format(videos_in_db) }}</strong> videos and <strong>{{ '{:,}'.format(channels_in_db) }}</strong> channels tracked
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="row" id="demonetization-video-container">
    <div class="col-sm-12 col-md-6 justify-content-center iframe" id="demonetization-video-neistat">
      <iframe width="400" height="225" src="https://www.youtube.com/embed/HZakJFqdpRY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
    </div>
    <div class="col-sm-12 col-md-6 justify-content-center iframe" id="demonetization-video-crg">
      <iframe width="400" height="225" src="https://www.youtube.com/embed/uSXQEIEKOUo?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
    </div>
    <div class="col-sm-12 col-md-6 justify-content-center iframe" id="demonetization-video-imagine-blank">
      <iframe width="400" height="225" src="https://www.youtube.com/embed/ouMeAaAWUEg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
    </div>
    <div class="col-sm-12 col-md-6 justify-content-center iframe" id="demonetization-video-ellie-jayden">
      <iframe width="400" height="225" src="https://www.youtube.com/embed/0JUOrCTwFXc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
    </div>
  </div>

    
  <div class="row">
    <h2>
      about (de)monetization on youtube
    </h2>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>

  <div class="row">
    <h2>
      other resources
    </h2>

    <div id="resources-list">
      <ul>
        <li>
          <span class="article-authors">Sapna Maheshwari&#44;</span> &ldquo;<a href="https://www.nytimes.com/2017/05/07/business/media/youtube-stars-feel-advertising-pinch.html"><span class="article-title">Candid, Comedic and Macabre YouTube Stars Feel an Advertising Pinch</span></a>&rdquo; <span class="article-date">(May 7, 2017), </span><span class="article-publisher">The New York Times</span>
        </li>
        <li>
          <span class="article-authors">Nellie Bowles and Jack Nicas&#44;</span> &ldquo;<a href="https://www.nytimes.com/2018/04/04/technology/youtube-attacker-demonetization.html"><span class="article-title">YouTube Attacker&rsquo;s Complaints Echoed Fight Over Ad Dollars</span></a>&rdquo; <span class="article-date">(April 4, 2018), </span><span class="article-publisher">The New York Times</span>
        </li>
      </ul>
      <!-- /#resources-list -->
    </div>
    <!-- /#about-block -->
  </div>

</div>

{% endblock %}