{% extends 'base.html' %}

{% block title %}Video categories{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row align-items-center" id="categories-row1">
    <h1>
      Categories
    </h1>
  </div>

  <div class="row" id="categories-row2">
    {% for category in categories %}
      <div class="col-4">
        <a href="/explore/categories/{{ category.video_category_id }}">
          {{ category.category_name }}
        </a>
        <br>
      </div>
    {% endfor %}
    <!-- /#categories-row2 -->
  </div>
</div>

{% endblock %}