{% extends 'base.html' %}

{% block title %}explore channels | ytdc{% endblock %}

{% block content %}

<div class="container">

  <div class="row" id="channels-row1">
    <h1>
      channels
    </h1>
  </div>

  <div class="row" id="channels-row2">
    {% for channel in random_channels %}
      <div class="col-md-3">
        
          <figure class="figure">
            <figcaption class="figure-caption text-center">
              <a href="/explore/channels/{{ channel[0].channel_id }}">
                {{ channel[0].channel_title }}
              </a>
            </figcaption>
            
            <a href="/explore/channels/{{ channel[0].channel_id }}">
              <img src="{{ channel[1].thumbnail_url }}" class="figure-img img-fluid rounded" alt="">
            </a>
          </figure>
          
        <br>
      </div>
    {% endfor %}
  </div>

</div>

{% endblock %}