{% extends 'base.html' %}

{% block title %}{{ channel.channel_title }} channel profile | ytdc{% endblock %}

{% block content %}

<div class="container">

  <div class="row page-title" id="channel-row1">
    <h1>
        {{ channel.channel_title }}
        <a href="https://www.youtube.com/channel/{{ channel.channel_id }}" id="youtube-url" target="_blank">
          <i class="fas fa-external-link-alt fa-sm" id="external-link-icon"></i>
        </a>
    </h1>
  </div>

  <div class="row" id="channel-basic-info">
    <ul>
      {% if channel.created_at %}
        <li>
          channel created on {{ channel.created_at.strftime('%B %-d, %Y') }}
        </li>
      {% endif %}
      <li>
        subscribers: {{ '{:,}'.format(channel_stats.total_subscribers) }}
      </li>
      <li>
        views: {{ '{:,}'.format(channel_stats.total_views) }}
      </li>
    </ul>
    <!-- /#channel-basic-info -->
  </div>

  <div class="" id="video-detailed-info">
    <div class="row">
      <h2>
        videos
      </h2>
    </div>
    
    <div class="row" id="">
      <ul>
        <li>
          total videos in the ytdc database: {{ '{:,}'.format(videos_in_db) }}
        </li>
        <li>
          {% if demonetization_percentage == 0 %}
            none of the videos in the ytdc database have been reported as demonetized.
          {% else %}
            {{ demonetization_percentage }}% of the videos in the ytdc database are not monetized
          {% endif %}
        </li>
      </ul>
    </div>

    <!-- /#video-info -->
  </div>

  {% if demonetization_percentage != 0 %}
    <div class="row">
      <h3>
        {% if demonetized_videos|length != 1 %}
          a few of {{ channel.channel_title }}&rsquo;s demonetized videos
        {% else %}
          {{ channel.channel_title }}&rsquo;s only demonetized video
        {% endif %}
      </h3>
    </div>

    <div class="row card-group" id="demonetized-video-container">
      {% for video in demonetized_videos %}
          <div class="card col-sm-6 col-md-4 col-lg-3">
            <a href="/explore/videos/{{ video.video_id }}">
              <img class="card-img-top" src="{{ video.thumbnail_url }}" alt="">
            </a>
            <div class="card-body">
              <p class="card-text">
                <span>                
                  <a href="/explore/videos/{{ video.video_id }}">
                    {{ video.video_title.lower() }}
                  </a>
                  <span class="badge">
                    <span class="badge badge-danger">
                      demonetized
                    </span>
                  </span>
                </span>
              </p>
            </div>
            <!-- /.card -->
          </div>
      {% endfor %}
    </div>  

  {% endif %}

  <div class="row" id="channel-video-graph">
    <h3>
      graph representation of {{ channel.channel_title }}&rsquo;s videos by shared tags
    </h3>
    <div class="col svg-container mx-auto" id="graph-svg-container">
      <svg width="700" height="400" id="graph-svg"></svg>      
    </div>
  </div>

  <!-- /.container-fluid -->
</div>

{% endblock %}

{% block scripts %}
  <script>

// 1. Load JSON

  let channelId = $('#youtube-url').attr('href').slice(-24);

  window.onload = function() {
    $.ajax({
      url: '/video-graph-by-shared-tags.json',
      data: {'channelId': channelId},
    })
    .done(function(data) {
      loadGraph(data);
    })
  }

  function loadGraph(graph) {

    let svg = d3.select('svg'),
        width = +svg.attr('width'),
        height = +svg.attr('height');

    // pink, purple, green, blueberry, yellow
    let colors = ['#ee2761', '#32b259', '#282562', '#5ec8d5', '#fff200'];
    let color = d3.scaleOrdinal().range(colors);

    let simulation = d3.forceSimulation()
      .force('link', d3.forceLink().id(d => d.id).distance(25))
      .force('charge', d3.forceManyBody())
      .force('center', d3.forceCenter(width/2, height/2));

    let link = svg.append('g')
        .attr('class', 'links')
      .selectAll('line')
      .data(graph.links)
      .enter().append('line')
        .attr('stroke-width', d => Math.sqrt(d.value)); 

    let node = svg.append('g')
        .attr('class', 'nodes')
      .selectAll('g')
      .data(graph.nodes)
      .enter().append('g')
      
    let circles = node.append('circle')
      .attr('r', 6)
      .attr('fill', d => color(d.group))
      .call(d3.drag()
        .on('start', dragstarted)
        .on('drag', dragged)
        .on('end', dragended)
      );

    // let labels = node.append('text')
    //   .text(function(d) {
    //     return d.id;
    //   })
    //   .attr('x', 6)
    //   .attr('y', 3);

    node.append('title')
      .text(function(d) { 
        return d.id; 
      });

    simulation
      .nodes(graph.nodes)
      .on('tick', ticked);

    simulation.force('link')
      .links(graph.links);

    function ticked() {
      link
        .attr('x1', function(d) {
          return d.source.x; 
        })
        .attr('y1', function(d) {
          return d.source.y; 
        })
        .attr('x2', function(d) { 
          return d.target.x; 
        })
        .attr('y2', function(d) { 
          return d.target.y; 
        });

      node
        .attr('transform', function(d) {
          return 'translate(' + d.x + ',' + d.y + ')';
        })
    }
  }

  // Animation functions
  function dragstarted(d) {
    if (!d3.event.active) simulation.alphaTarget(0.3).restart();
    d.fx = d.x;
    d.fy = d.y;
  }

  function dragged(d) {
    d.fx = d3.event.x;
    d.fy = d3.event.y;
  }

  function dragended(d) {
    if (!d3.event.active) simulation.alphaTarget(0);
    d.fx = null;
    d.fy = null;
  }

  </script>

{% endblock %}