{% extends 'base.html' %}

{% block title %}explore channels | ytdc{% endblock %}

{% block content %}

<div class="container">

  <div class="row" id="channels-row1">
    <h1 class="underlined">
      channels
    </h1>
  </div>

  <div class="row" id="channels-row2">
    {% for channel in random_channels %}
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <a href="/explore/channels/{{ channel[0].channel_id }}">
            <img class="card-img-top" src="{{ channel[1].thumbnail_url }}" alt="">
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <span>                
                <a href="/explore/channels/{{ channel[0].channel_id }}">
                  {{ channel[0].channel_title }}
                </a>
              </span>
            </h5>
          </div>
          <!-- /.card -->
        </div>
      </div>     
    {% endfor %}
  </div>  

</div>

{% endblock %}