{% extends 'base.html' %}
{% block content %}

<div class="container">

  <div class="row" id="chart-row1">
    <div>
      <canvas id="tagChart"></canvas>
    </div>
  </div>

  <div class="row" id="chart-row2">
    <div>
      <canvas id="nsfwChart"></canvas>
    </div>    
  </div>
  
  <!-- /.container -->
</div>

<div>
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-all-tab" data-toggle="pill" href="#v-pills-all" role="tab" aria-controls="v-pills-all" aria-selected="true">All data</a>
    <a class="nav-link" id="v-pills-category-tab" data-toggle="pill" href="#v-pills-category" role="tab" aria-controls="v-pills-category" aria-selected="false">Category filter</a>
    <a class="nav-link" id="v-pills-tag-tab" data-toggle="pill" href="#v-pills-tag" role="tab" aria-controls="v-pills-tag" aria-selected="false">Tag filter</a>
  </div>

  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <canvas id="by-channel-size" style="width: 400px;"></canvas>
      <!-- /#v-pills-home -->
    </div>

    <div class="tab-pane fade" id="v-pills-category" role="tabpanel" aria-labelledby="v-pills-category-tab">
      ...
      <canvas id="by-channel-size-category"></canvas>
    </div>

    <div class="tab-pane fade" id="v-pills-tag" role="tabpanel" aria-labelledby="v-pills-tag-tab">
      ...
      <!-- /#v-pills-tag -- >
    </div>
    <!-- /.tab-content -->
  </div>
  
</div>

{% endblock %}
{% block scripts %}

<script>

  let ctxChannelSize = $('#by-channel-size').get(0).getContext('2d');

  $.get('/bleh-by-channel-size.json', function(data) {
    let myFirstChart = new Chart(ctxChannelSize, {type: 'bar',
                                                  data: data,
                                                  options: {
              responsive: true,
              title: {
                  display: true,
                  text: 'Monetization by channel size'
              },
              tooltips: {
                  mode: 'index',
                  intersect: true
              },
              elements: {point: {pointStyle: 'circle'}},
              scales: {
                  yAxes: [{
                      type: 'linear',
                      display: true,
                      position: 'left',
                      id: 'y-axis-1',
                      ticks: {beginAtZero: true}
                  }, {
                      type: 'linear',
                      display: true,
                      position: 'right',
                      id: 'y-axis-2',
                      ticks: {min: 0,
                              max: 1,
                              callback: (label, index, labels) => {return label + " %"}},
                      gridLines: {
                          drawOnChartArea: false
                      }
                  }],
              }}
    });
  });

</script>

{% endblock %}