{% extends 'base.html' %}

{% block title %}the youtube data collective | ytdc{% endblock %}

{% block content %}
<div class="container">
  <div class="row" id="homepage-row1">
    <h1 id="homepage-title">
      youtube data collective | ytdc
    </h1>
  </div>

  <div class="row justify-content-md-center" id="homepage-row2">
    <div class="col" id="homepage-about">
      <p>
        ytdc crowdsources information from youtube creators about which of their videos get demonetized. we currently have information on <strong>{{ '{:,}'.format(videos_in_db) }}</strong> videos from <strong>{{ channels_in_db }}</strong> channels.
        <a href="/about">
        read more &raquo;
        </a>
      </p>
      <p>
        What's demonetization, you ask? These folks do a pretty good job of explaining it.
      </p>   
    </div>
  </div>

  <div class="row justify-content-around" id="demonetization-video-container">
    <div class="col-sm-12 col-md-6 iframe center-all" id="demonetization-video-neistat">
      <iframe width="400" height="225" src="https://www.youtube.com/embed/HZakJFqdpRY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
    </div>
    <div class="col-sm-12 col-md-6 iframe center-all" id="demonetization-video-crg">
      <iframe width="400" height="225" src="https://www.youtube.com/embed/uSXQEIEKOUo?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
    </div>
    <div class="col-sm-12 col-md-6 iframe center-all" id="demonetization-video-imagine-blank">
      <iframe width="400" height="225" src="https://www.youtube.com/embed/ouMeAaAWUEg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
    </div>
    <div class="col-sm-12 col-md-6 iframe center-all" id="demonetization-video-ellie-jayden">
      <iframe width="400" height="225" src="https://www.youtube.com/embed/0JUOrCTwFXc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}

  <!-- <script>
    'use strict';

    let ctxChannelSize = $('#by-channel-size').get(0).getContext('2d');

    let options = {responsive: true,
                   hoverMode: "index",
                   stacked: false,
                   title: {display: true,
                           text: "Monetization by channel size"},

                   scales: {yAxes: [{type: "linear",
                                     display: true,
                                     position: "left",
                                     id: "y-axis-1"},
                                     
                                     {type: "linear",
                                      display: true,
                                      position: "right",
                                      id: "y-axis-2",
                                      gridlines: {drawOnChartArea: false},
                                      ticks: {min: 0,
                                              max: 1,
                                              callback: (label, index, labels) => {return label + " %"}}
                                    }] 
                           }
                  }

    $.get('/bleh-by-channel-size.json', function(data, options) {
      let myFirstChart = new Chart(ctxChannelSize, {type: "bar",
                                                    data: data,
                                                    options: options}
                                );
      console.log(data);
      console.log(options);
      $('#channel-size-legend').html(myFirstChart.generateLegend());
                                           }
    );
  </script>
 -->
{% endblock %}