{% extends 'base.html' %}

{% block title %}the youtube data collective | ytdc{% endblock %}

{% block content %}
<div class="container">
  <div class="row" id="homepage-row1">
    <h1 id="homepage-title">
      youtube data collective | ytdc
    </h1>
  </div>

  <div class="row justify-content-md-center" id="homepage-row2">
    <p class="col-11" id="homepage-about">
      the youtube data collective, better known as ytdc, crowdsources information from youtube creators about which of their videos get demonetized. we currently have information on <strong>{{ '{:,}'.format(videos_in_db) }}</strong> videos from <strong>{{ channels_in_db }}</strong> channels.
      <a href="/about">
        read more &raquo;
      </a>
    </p>
  </div>

  <div class="row align-items-center" id="homepage-search-container">
    <div class="col">
      <form action="/search" method="get" data-toggle="validator" role="form" class="form-inline">   
        <div class="form-group">
          <input name="search" type="text" class="form-control input-lg" aria-label="..." placeholder="search">
        </div>

        <div class="form-group">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default  btn-search">
              search
            </button>
          </span>
        </div>
      </form>
    </div>
    <!-- /#homepage-row4 -->
  </div>


  <div class="container" id="homepage-chart-container">
    <div class="row align-items-center">
      <div class="col-sm-10 col-md-7 col-lg-5">
        <div class="card homepage-card1">
          <h5 class="card-title text-center">
            a cool title
          </h5>
          <div class="canvas-container">
            <canvas class="col" style="background-color: #d9f7fa;"></canvas>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-md-7 col-lg-5">
        <div class="card homepage-card2">
          <h5 class="card-title text-center">
            a cool title
          </h5>
          <div class="canvas-container">
            <canvas class="col" style="background-color: #d9f7fa;"></canvas>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-md-7 col-lg-5">
        <div class="card homepage-card3">
          <h5 class="card-title text-center">
            a cool title
          </h5>
          <div class="canvas-container">
            <canvas class="col" style="background-color: #d9f7fa;"></canvas>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-md-7 col-lg-5">
        <div class="card homepage-card4">
          <h5 class="card-title text-center">
            a cool title
          </h5>
          <div class="canvas-container">
            <canvas class="col" style="background-color: #d9f7fa;"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</div>

{% endblock %}

{% block scripts %}

  <!-- <script>
    'use strict';

    let ctxChannelSize = $('#by-channel-size').get(0).getContext('2d');

    let options = {responsive: true,
                   hoverMode: "index",
                   stacked: false,
                   title: {display: true,
                           text: "Monetization by channel size"},

                   scales: {yAxes: [{type: "linear",
                                     display: true,
                                     position: "left",
                                     id: "y-axis-1"},
                                     
                                     {type: "linear",
                                      display: true,
                                      position: "right",
                                      id: "y-axis-2",
                                      gridlines: {drawOnChartArea: false},
                                      ticks: {min: 0,
                                              max: 1,
                                              callback: (label, index, labels) => {return label + " %"}}
                                    }] 
                           }
                  }

    $.get('/bleh-by-channel-size.json', function(data, options) {
      let myFirstChart = new Chart(ctxChannelSize, {type: "bar",
                                                    data: data,
                                                    options: options}
                                );
      console.log(data);
      console.log(options);
      $('#channel-size-legend').html(myFirstChart.generateLegend());
                                           }
    );
  </script>
 -->
{% endblock %}