{% extends 'base.html' %}

{% block title %}explore tags | ytdc{% endblock %}

{% block content %}

<div class="container">
  <div class="row align-items-center" id="tags-row1">
    <h1>
      tags
    </h1>
  </div>

  <div class="row justify-content-center">
    <h2>
      demonetization by tag
    </h2>
  </div>

  <!-- tag display area -->
  <div class="row text-center" id="tag-display-container">

    <!-- tag-display1 -->
    <div class="col tag-display" id="tag-display1" style="background-color: #ee2761;">
      <div class="row">        
        <div class="col-10 tag-text" id="tag-text1"><!-- 
          tag-text1 
     --></div>
        <div class="col-1 remove-button-container">
          <button type="button" class="close remove-tag" aria-label="close" aria-hidden="true" id="close-button1">
            <span aria-hidden="true">
              &times;
            </span>
          </button>
        </div>
      </div>
    </div>
    <!-- end tag-display1 -->

    <!-- tag-display2 -->
    <div class="col tag-display" id="tag-display2" style="background-color: #282562;">
      <div>        
        <div class="col-10 tag-text" id="tag-text2"><!-- 
          tag-text2
     --></div>
        <div class="col-1 remove-button-container">
          <button type="button" class="close remove-tag" aria-label="close" aria-hidden="true" id="close-button2">
            <span aria-hidden="true">
              &times;
            </span>
          </button>
        </div>
      </div>
    </div>
    <!-- end tag-display2 -->

    <!-- tag-display3 -->
    <div class="col tag-display" id="tag-display3" style="background-color: #32b259;">
      <div>        
        <div class="col-10 tag-text" id="tag-text3"><!-- 
          tag-text3 
     --></div>
        <div class="col-1 remove-button-container">
          <button type="button" class="close remove-tag" aria-label="close" aria-hidden="true" id="close-button3">
            <span aria-hidden="true">
              &times;
            </span>
          </button>
        </div>
      </div>
    </div>
    <!-- end tag-display3 -->

    <!-- tag-display4 -->
    <div class="col tag-display" id="tag-display4" style="background-color: #5ec8d5;">
      <div>        
        <div class="col-10 tag-text" id="tag-text4"><!-- 
          tag-text4 
     --></div>
        <div class="col-1 remove-button-container">
          <button type="button" class="close remove-tag" aria-label="close" aria-hidden="true" id="close-button4">
            <span aria-hidden="true">
              &times;
            </span>
          </button>
        </div>
      </div>
    </div>
    <!-- end tag-display4 -->

    <!-- tag-display5 -->
    <div class="col tag-display" id="tag-display5" style="background-color: #fff200;">
      <div>        
        <div class="col-10 tag-text" id="tag-text5"><!-- 
          tag-text5
     --></div>
        <div class="col-1 remove-button-container">
          <button type="button" class="close remove-tag" aria-label="close" aria-hidden="true" id="close-button5">
            <span aria-hidden="true">
              &times;
            </span>
          </button>
        </div>
      </div>

      <!-- tag search container -->
      <div class="col align-middle" id="tag-search-container">
        <input type="text" id="tag-search-box" name="tag-search-box" placeholder="search tags">
        <div id="suggested-tag-container">
          <ul class="" id="suggested-tags" style="background-color: #fff5f8;" role="menu">
          </ul>
        </div>
      </div>
      <!-- end tag search container -->

    </div>
    <!-- end tag-display5 -->


  </div>
  <!-- end tag display area -->


  <!-- chart -->
  <div class="row justify-content-center" id="chart-row">
    <div class="col-10" id="canvas-container">
      <canvas id="demonetization-by-tag-chart"></canvas>      
    </div>
  </div>
  <!-- end chart -->


  <div class="row justify-content-center">
    <h2>
      here are 80 random tags
    </h2>
  </div>

  <div class="row" id="random-tag-container">
    {% for tag in tags %}
      <div class="col-lg-3 col-md-4 col-sm-6 text-truncate" id="tag-text" style="display: inline-block;">
        <a href="/explore/tags/{{ tag.tag_id }}">
          {{ tag.tag }}
        </a>
        <br>
      </div>
    {% endfor %}
  </div>

</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">

  // (1.1) Establish initial variables.

  let ctxTagChart = $('#demonetization-by-tag-chart').get(0).getContext('2d');

  let rgbColors = ['rgba(238, 39, 97, 1)', // pink
                   'rgba(40, 37, 98, 1)', // purple
                   'rgba(50, 178, 89, 1)', // green
                   'rgba(94, 200, 213, 1)', // blueberry
                   'rgba(255, 242, 0, 1)']; // yellow

  let hexColors = ['ee2761', // pink
                   '282562', // purple
                   '32b259', // green
                   '5ec8d5', // blueberry
                   'fff200'] // yellow

  let options = {responsive: true,
                 animation: false,
                 legend: {display: false,
                          defaultFontColor: 'black'},
                 title: {display: false}, 
                 tooltips: {mode: 'index',
                            intersect: true},
                 elements: {point: {pointStyle: 'circle'}},
                 scales: {yAxes: [{ticks: {min: 0,
                                           callback: (label, index, labels) => {return label + '%'},
                                   scaleLabel: {fontFamily: 'Raleway',
                                                fontColor: 'black'}},
                     }],
                 }}

  let initialTagExamples = ['donald trump', 'hillary clinton', 'bernie sanders']
  let currentTags = [['donald trump'], ['hillary clinton'], ['bernie sanders']]

  let tagText = [$('#tag-text1').text(),
                 $('#tag-text2').text(),
                 $('#tag-text3').text(),
                 $('#tag-text4').text(),
                 $('#tag-text5').text()];

  // (1.2) Conditional logic

  function countTagsDisplayed() {
    let i = 0;
    for (let tag of tagText) {
      if (tag) {
        i += 1
      }
    }
    return i
  }

  let countTagsNow = countTagsDisplayed();
  console.log('countTagsNow:');
  console.log(countTagsNow);

  if (countTagsNow === 5) {
    $('#tag-search-container').hide();
    $('#close-button5').show();
  }


  // (2.1) Load chart when you land on the page.

  window.tagTrie = [];

  window.onload = function() {
    $.ajax({
      url: '/get-tag-data.json',
      data: {'tags': initialTagExamples},
      type: 'GET'
    })
    .done(function (response) {
      loadChart(response);
    })
    .done(function(response) {
      initializeTagDisplay(response);
    })
    .done(function(response) {
      loadChart(response);
    })
    .done(function(response) {
      updateCurrentTags(response);
    })

    $.ajax({
      url: '/autocomplete-trie.json',
    })
    .done(response => {window.tagTrie = response})
  }

  // (2.2) Populate tag display area.

  function initializeTagDisplay(response) {
    $('#tag-text1').text(initialTagExamples[0]);
    $('#tag-text2').text(initialTagExamples[1]);
    $('#tag-text3').text(initialTagExamples[2]);
    $('#tag-display4').hide();
    $('#close-button5').hide();
  }

  // (2.3) Create chart.

  function loadChart(response) {
    response['datasets'][0]['backgroundColor'] = rgbColors.slice(0, 3);
    tagChart = new Chart(ctxTagChart, {
      type: 'bar',
      data: response,
      options: options
    })
  }

  function updateCurrentTags(response) {
    // debugger;
    for (let i = 0; i < 3; i++) {
      currentTags[i].push(response['datasets'][i]['data']);
    }
    // console.log(currentTags);
  }

  // (2.4) Load autocomplete trie.

  // tagTrie = loadTagTrie();

  // function loadTagTrie() {
  //   $.ajax({
  //     url: '/autocomplete-trie.json'
  //   })
  // }
  
  // (3) Set up autocomplete.

  $('#tag-search-box').on('keyup', displaySuggestedTags);

  function displaySuggestedTags() {
    let inputVal = $('#tag-search-box').val();
    let sortedTagArray = sortTags(inputVal);
    if (sortedTagArray === null) { // null or undefined?
      $('#suggested-tags').append('<p>No results found.</p>');
    } else {
      let suggestedTagsHtml = '';
      for (let tag in sortedTagArray.slice(0, 8)) { // slicing does not raise indexerror if fewer than 8 tags.
        suggestedTagsHtml += `<li class="clickable-suggestions" id="tag-${tag[0]}"><a>${tag[0]}</a></li>`;
      }
      $('#suggested-tags').append(suggestedTagsHtml);
    }
  }

  function updateSuggestedTags() {
    // is this necessary?
  }

  function sortTags(inputVal) {
    // (a) Get all words starting with prefix   
    let allTags = getAllWords(tagTrie, inputVal);
    allTags.sort((a,b) => (b[1] - a[1]));
    return allTags
  }

  // messy

  // helper funcs
  // (1) does it have children

  function hasChildren(node) {
    let nodeChildren = Object.entries(node)[0][1].children;
    if (Object.keys(nodeChildren).length === 0) {
      return false
    }
    else {
      return true
    }
  }

  // (2) how many children

  function hasChildren(node) {
    let nodeChildren = Object.entries(node)[0][1].children;
    let numChildren = Object.keys(nodeChildren).length;
    return numChildren
  }

  // (3) iterate over the children

  function iterateChildren(node) {
    let nodeChildren = Object.entries(node)[0][1].children;
    for (let child in Object.entries(nodeChildren)) {
      console.log("here's one:")
      console.log(nodeChildren[child].children);
    }
  }

  // (4) is it a word

  function isWord(node) {
    let freq = Object.entries(node)[0][1].freq;
    if (freq !== 0) {
      return true
    }
    else {
      return false
    }
  }

  // (5) get frequency

  function getFrequency(node) {
    let freq = Object.entries(node)[0][1].freq;
      return freq
  }



  // actual func
  function getAllWords(trieNode, prefix) {
    let allTags = [];
    let nodeKeys = Object.keys(trieNode); // array that's [''] for root; ['a','b'] (for example) for subnodes

    if (nodeKeys[0] === '') { // if root node i.e. first recursive loop
      // ##### whatever needs to be done

    }
    else {

    }





    // (1) if it's the first recursive loop
    if (Object.keys(trie)[0] === '') { 
      let modTrie = trie[''];
      for (let char of prefix) {
      modTrie = modTrie['children'][char];
      }
      console.log('modTrie: ')
      console.log(modTrie);
    }
    // (2) does it have children?
    for (let item of Object.entries(modTrie)) {
      // console.log('item: ')
      // console.log(item);
      // console.log('item[1]');
      // console.log(item[1]);
      for (let charNode of Object.entries(item[1])) {
        // console.log('charNode:')
        // console.log(charNode)
        if (charNode[1]['freq']) { // if it has a value
          // console.log("charNode[1]['freq']:");
          // console.log(charNode[1]['freq']);
          // console.log('prefix+charNode[0]:')
          // console.log(prefix+charNode[0])
          // console.log("[prefix+charNode[0], charNode[1]['freq']]");
          // console.log([prefix+charNode[0], charNode[1]['freq']]);
          allTags.push([prefix+charNode[0], charNode[1]['freq']]);
          // console.log(allTags)
        }
        for (charNode[1]['children']) {
          console.log("charNode[1]['children']");
          console.log(charNode[1]['children']);
        }
      }
      if (item[1]['freq']) {
        console.log((prefix+item[0], item[1]['freq']));
        allTags.push((prefix+item[0], item[1]['freq']));
      }
      for (let child of Object.entries(item[1]['children'])) {
        console.log(child);
        for (let wordInfo in getAllWords(child, prefix+item[0])) {
        // for (let wordInfo in getAllWords({child[0]: child[1]}, prefix+item[0])) {
          allTags.push(wordInfo);
        }
      }
    }
    return allTags
  }

  // clean
  function getAllWords(trieObject, prefix) {
    let allTags = [];
    if (Object.keys(trieObject)[0] === '') { // if it's the first recursive loop
      modifiedTrieObject = trieObject[''];
      for (let char of prefix) {
      modifiedTrieObject = modifiedTrieObject['children'][char];
      }
    }
    for (let item of Object.entries(modifiedTrieObject)) {
      for (let charNode of Object.entries(item[1])) {
        if (charNode[1]['freq']) { // if freq !== 0, ie it's a word end
          allTags.push([prefix+charNode[0], charNode[1]['freq']]);
        }
        for (charNode[1]['children']) {
          console.log("charNode[1]['children']");
          console.log(charNode[1]['children']);
        }
      }
      if (item[1]['freq']) {
        console.log((prefix+item[0], item[1]['freq']));
        allTags.push((prefix+item[0], item[1]['freq']));
      }
      for (let child of Object.entries(item[1]['children'])) {
        console.log(child);
        for (let wordInfo in getAllWords(child, prefix+item[0])) {
          allTags.push(wordInfo);
        }
      }
    }
    return allTags
  }


  // (4) Add tag.

  // (4.1) Upon clicking a tag, add it to the chart

  $('.suggested-tag-dropdown').on('click', addTag);

  function addTag() {
    let newTag = $(this).text().trim();
    $.ajax({
      url: '/get-tag-data.json',
      data: {'tags': newTag}
    })
    .done(function(response) {
      addTagToChart(response);
    })
    .done(function(response) {
      addTagToDisplay(response);
    })
  }

  function addTagToChart(response) {
    tagChart.data.labels.push(newTag);
    tagChart.data.datasets.forEach(dataset => {
      dataset.data.push(response['datasets'][0]['data']);
    });
    tagChart.update();
  }

  // (4.2) Add it to the tagDisplay

  function addTagToDisplay(response) {
    currentTags.push([newTag, response['datasets'][0]['data']]);
    updateChart();
  }

  // Function that applies to multiple sections (adding + removing)
  function updateChart() {
    // debugger;
    let data = {'labels': [],
                'datasets': []}
    
    for (let i = 0; i < currentTags.length; i++) {
      data['labels'].push(currentTags[i][0]);
      let datasetTemplate = {'backgroundColor': [],
                             'data': []}
      datasetTemplate['data'][i].push(currentTags[i][1]);
      datasetTemplate['backgroundColor'].push()
      data['datasets'].push(currentTags[i][1]);
    }
    console.log(data);

    // is creating a new chart going to work?
    tagChart = new Chart(ctxTagChart, {
      type: 'line',
      data: data,
      options: options
    });
  }

  // (5) Remove tags.

  $('.remove-tag').on('click', removeTag);

  function removeTag() {
    // (a) hide the tag display
    let tagId = $(this).attr('id');
    tagId = tagId.slice(-1);
    $('#tag-display' + tagId).hide();
    // (b) remove tag from currentTags
    currentTags.splice(tagId, 1); // removes tag at index[tagId]
    // (c) update chart data & colors
    updateChart();    
  }


</script>


{% endblock %}