{% extends 'base.html' %}

{% block title %}video profile: {{ video.video_title.lower() }} | ytdc{% endblock %}

{% block content %}

<div class="container">
  <div class="row page-title" id="video-row1">
    <h1>
      video profile: &ldquo;{{ video.video_title.lower() }}&rdquo; by <a href="/explore/channels/{{ channel.channel_id }}">{{ channel.channel_title }}</a>
    </h1>
    <!-- /#video-row1 -->
  </div>

  <div class="row page-title badge" id="video-row2">
    <h5>
      {% if video.is_monetized == False %}
        <span class="badge badge-danger">
          demonetized
        </span>
      {% else %}
        <span class="badge badge-success">
          monetized
        </span>
      {% endif %}
    </h5>
    <!-- /#video-row2 -->
  </div>

  <div class="row table-inside" id="basic-info-and-iframe">
    <div class="col-sm-12 col-lg-10">
      <table class="display table table-striped table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">
              uploaded
            </th>
            <td>
              {{ video.published_at.strftime('%B %-d, %Y') }}
            </td>
            <td rowspan="7" align="center">
              <iframe width="400" height="225" src="https://www.youtube.com/embed/{{ video.video_id }}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
              </iframe>
            </td>
          </tr>
          <tr>
            <th scope="row">
              category
            </th>
            <td>
              <a href="/explore/categories/{{ category.video_category_id }}">
                {{ category.category_name.lower() }}
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">
              duration
            </th>
            <td>
              {{ duration }}
            </td>
          </tr>
          <tr>
            <th scope="row">
              views
            </th>
            <td>
              {{ '{:,}'.format(video_stats.views) }}
            </td>
          </tr>
          <tr>
            <th scope="row">
              likes
            </th>
            <td>
              {{ '{:,}'.format(video_stats.likes) }}
            </td>
          </tr>
          <tr>
            <th scope="row">
              dislikes
            </th>
            <td>
              {{ '{:,}'.format(video_stats.dislikes) }}
            </td>
          </tr>
          <tr>
            <th scope="row">
              comments
            </th>
            <td>
              {{ '{:,}'.format(video_stats.comments) }}
            </td>
          </tr>
          {% if nsfw_score %}
            <tr>
              <th scope="row">
                thumbnail nsfw score
              </th>
              <td>
                {{ nsfw_score }} / 100
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <div class="row">
      <h3>
        sentiment analysis
      </h3>        
    </div>

    <div class="row table-inside" id="sentiment-analysis-table">
      <div class="col-sm-12 col-lg-10">

        <table class="display table table-striped table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th scope="row">
                description sentiment
              </th>
              <td>
                {{ video.published_at.strftime('%B %-d, %Y') }}
              </td>
              <td rowspan="3" align="">
                <p>
                  <em>description</em>: {{ video.video_description }}
                </p>
                <p>
                  <em>tags</em>: {% for tag in tags %}
                    <a href="/explore/tags/{{ tag.tag_id }}">
                      {{ tag.tag }}
                    </a>
                    {% endfor %}
                </p>
              </td>
            </tr>

            {% for text_analysis in text_analyses %}

            <tr>
              {% if text_analysis[0] == 'video_title' %}
                <th scope="row">
                  title sentiment
                </th>
                <td>
                  <div id="title-sentiment-score" data-toggle="tooltip" data-placement="left" title="sentiment score ranges from -1.0 (very negative) to 1.0 (very positive).">
                    {% if text_analysis[1] < 0 %}
                      Score: 
                      <span class="negative" style="color: red;">
                        {{ text_analysis[1] }}
                      </span>
                    {% else %}
                      score: 
                      <span class="positive" style="color: green;">
                        {{ text_analysis[1] }}
                      </span>           
                    {% endif %}
                  </div>

                  <div id="title-sentiment-magnitude" data-toggle="tooltip" data-placement="left" title="magnitude is the strength of sentiment regardless of score and ranges from 0 to infinity.">
                    magnitude: {{ text_analysis[2] }}
                  </div>
                </td>
                <td></td>

              {% elif text_analysis[0] == 'video_title' %}
                <th scope="row">
                  description sentiment
                </th>
                <td>
                  <div id="description-sentiment-score" data-toggle="tooltip" data-placement="left" title="sentiment score ranges from -1.0 (very negative) to 1.0 (very positive).">
                    {% if text_analysis[1] < 0 %}
                      score: 
                      <span class="negative" style="color: red;">
                        {{ text_analysis[1] }}
                      </span>
                    {% else %}
                      score: 
                      <span class="positive" style="color: green;">
                        {{ text_analysis[1] }}
                      </span>           
                    {% endif %}
                  </div>
                  <div id="description-sentiment-magnitude" data-toggle="tooltip" data-placement="left" title="magnitude is the strength of sentiment regardless of score and ranges from 0 to infinity.">
                    magnitude: {{ text_analysis[2] }}
                  </div>
                </td>
                <td></td>

              {% elif text_analysis[0] == 'video_tags' %}
                <th scope="row">
                  tag sentiment
                </th>
                  <div id="tag-sentiment-score" data-toggle="tooltip" data-placement="left" title="sentiment score ranges from -1.0 (very negative) to 1.0 (very positive).">
                    {% if text_analysis[1] < 0 %}
                      score: 
                      <span class="negative" style="color: red;">
                        {{ text_analysis[1] }}
                      </span>
                    {% else %}
                      score: 
                      <span class="positive" style="color: green;">
                        {{ text_analysis[1] }}
                      </span>           
                    {% endif %}
                  </div>
                  <div id="tag-sentiment-magnitude" data-toggle="tooltip" data-placement="left" title="magnitude is the strength of sentiment regardless of score and ranges from 0 to infinity.">
                    magnitude: {{ text_analysis[2] }}
                  </div>
                <td></td>      
              {% endif %}
            </tr>

            {% endfor %}

          </tbody>
          <!-- /table -->
        </table>
      </div>      
    </div>

  </div>

  <!-- /.container -->
</div>
{% endblock %}

{% block scripts %}

{% endblock %}